<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key ="ThreadCount" value ="5"></add>
    <add key ="HowManyItemsPerThread" value ="3001"></add>
    <add key ="WriteLogToFile" value ="false"></add>
    <add key ="WriteLogToConsole" value ="true"></add>
    <add key ="LogFilePath" value ="C:\log.txt"></add>
    <add key ="LogDateFormat" value ="yyyy-MM-dd HH:mm:ss.fff"></add> - ->
    <add key ="LoggingLevel" value="DEBUG"></add> <!- - ALL < DEBUG < INFO < WARN < ERROR < FATAL < OFF -->
  </appSettings>
</configuration>



